/* Global Styles */
body {
    margin: 3%;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background: #2F1893;
}

/* Navbar */
.navbar {
    background: #2F1893;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    color: #FFFFFF;
}

.navbar .logo {
    font-weight: 700;
    font-size: 24px;
    margin-right: 20px;
}

.navbar ul.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul.menu li {
    margin-right: 20px;
}

.navbar ul.menu li:last-child {
    margin-right: 0;
}
.navbar ul.menu li:first-child a {
    color: #999;
    opacity: 50%;
}

.navbar ul.menu li a {
    text-decoration: none;
    color: #FFFFFF;
}

.purchase-btn{
    color: #FFFFFF;
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: #E93A7D;

}


/* Content */
.content {
    background: #2F1893;
    display: flex;
    
    justify-content: space-between;
    padding: 10px 10px;
    color: #FFFFFF;
}

.left-content {
    flex: 1;
    display: flex;
}

.content-box{
   width: auto;
   padding: 20px;
   margin: 8% auto 0;
   text-align: left;
}

.content-box h1{
    font-size: 64px;
    color: #FFFFFF;
}

.content-box p{
    font-size: 24px;
    color: #f5f4f9;
}

.content-box .learn-more{
    color: #FFFFFF;
    width: auto;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #E93A7D;
}

.right-content {
    flex: auto;
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
}


.signup-box {
   width: fit-content;
   box-shadow: 0 0 3px 0 #FFFFFF;
   background-color: #FFFFFF;
   padding: 20px 40px;
   margin: 8% auto 0;
   text-align: center;
   border-radius: 10px;
}

.signup-box h2 {
    font-size: 44px;
    color: #1E0E62;
}



.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px -10px;
    width: 100%;
    height: 30px;
    border: 2px solid #999;
    outline: none;
}
button{
    color: #FFFFFF;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.signin-btn{
    background-color: #2F1893;
    height: 50px;

}
p{
    color: #999;
}

.twitter-btn{
    background-color: #3573de ;
    height: 50px;
}

a{
    color: #25DAC5;
    text-decoration: none;
}

hr{
    margin-top: 20px;
    width:80%;
}

.or{
    color:#999;
    background: #FFFFFF;
    width: 30px;
    margin: -19px auto 10px;
}





